* {
    margin: 0px;
    padding: 0px;
    font-family: 'times new roman', serif;
}

li {
    display: inline;
    margin: 10px;
    list-style-type: none;
}

header {
    position: fixed;
    width: 100%;

    padding: 30px;
    background-color: white;

}

h1 {
    text-align: center;
    font-size: 35px;
    border: 1px solid black;
    padding: 250px;
    padding-top: 280px;
    background-image: url('https://sdg-migration-id.s3.amazonaws.com/inc-brooklyn-bridge-park-lobby-1217.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 15px black;
}

fieldset {
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 17px;

}

.form {
    margin-left: 30%;
}

input {
    width: 40%;
    padding: 10px;

}

#package {
    margin-left: 30%;
}

select {
    font-size: 15px;
    width: 42%;
    padding: 10px;
}

#time {
    margin-left: 30%;
}

textarea {
    width: 42%;
    height: 100px;
}

#submit {
    width: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30%;
}

.erfooter {
    background-color: rgb(87, 97, 78);
    color: white;
    position: relative;
    clear: both;
    height: 30vh;
}

.container1 {
    padding: 45px 0 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.erfooter h3 {
    font-size: 24px;
}

.erfooter p {
    font-size: 15px;
}

.line {
    width: 60%;
    height: 2px;
    background-color: white;
    margin: 0 auto 10px;
}

.copyright-text {
    margin: 0;
    font-size: 14px;
    color: white;
}

.copyright-container {
    padding-top: 1%;
}

.row1 {
    margin-bottom: 1%;
}

.row1 h3 {
    font-size: 50px;
    margin-bottom: 1%;
    text-align: center;
}

.row1 p {
    font-size: 18px;
    text-align: center;
}